{
  "extends": "@gulujs/eslint-config/js/node",
  "overrides": [
    {
      "files": ["test/**/*"],
      "env": {
        "mocha": true
      },
      "rules": {
        "no-unused-vars": "off"
      }
    }
  ]
}
